header {
    display: flex;
    justify-content: center;
}

.head_ting {
    width: 20vw;
    height: 4vw;
    padding-bottom: 14vw;


}

h1 {
    text-align: center;
    margin: 0.4vw;
    display: none;
}

h3 {
    font-size: 2.47rem;
}

p {
    margin: 2vw 2vw 2vw 0;

}

.p1 {
    margin-top: 1.6vw;
    font-size: 1.4rem;
}

.p2 {
    font-size: 1.7rem;
}

.p3 {
    font-size: 1.7rem;
    text-decoration: underline;
}

nav {

    margin: 4vw;
    text-align: center;
}

article:nth-child(2n) {
    background-color: rgba(139, 0, 0, 0.1);

}

.valgt {
    background-color: rgba(175, 40, 40, 0.39);
}

button {
    margin: 0.4vw;
    border-radius: 4%;
    border-style: hidden;
    font-size: 1.7rem;
}

.data-container {

    display: grid;
    padding: 0 4vw 0 4vw;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 10px;
    margin: 0 auto;
}

.tik {
    padding: 1.4vw;
    border: hidden;
    border-radius: 1%;
}

body {
    font-family: sans-serif;
}


img {
    /*
    width: 24vw;
    object-position: 50% 0%;
    height: 20vw;
    object-fit: cover;
*/
    width: 100%;
    margin: 0;
}

@media only screen and (max-width: 600px) {

    .head_ting {
        width: 40vw;
        height: 4vw;
        padding-bottom: 37vw;
        padding-top: 4vw;


    }
}
